# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend
backend/target/
backend/*.log
backend/HELP.md

# Java
*.class
*.log
*.jar
*.war
*.ear

# Misc
*.swp
*.swo
*~
